<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.tracecompass.training.example.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.training.example.ProcessingTimeAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.training.example.processing.module"
            name="Processing Analysis">
         <tracetype
               class="org.eclipse.tracecompass.lttng2.ust.core.trace.LttngUstTrace">
         </tracetype>
      </module>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.example.processing.states">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.ProcessingTimeAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.processing.table">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.processing.ProcessingLatencyModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.processing.statistics">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.processing.ProcessingLatencyModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.processing.scatter">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.processing.ProcessingLatencyModule">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.tracecompass.training.example.ProcessingStatesView"
            id="org.eclipse.tracecompass.training.example.processing.states"
            name="Processing States"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.training.example.processing.ProcessingLatencyModule"
            automatic="true"
            id="org.eclipse.tracecompass.training.processing.module"
            name="Processing Latency Analysis">
         <tracetype
               class="org.eclipse.tracecompass.tmf.ctf.core.trace.CtfTmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.tracecompass.training.example.processing.views.ProcessingLatencyTableView"
            id="org.eclipse.tracecompass.training.processing.table"
            name="Latency Table"
            restorable="true">
      </view>
      <view
            class="org.eclipse.tracecompass.training.example.processing.views.ProcessingLatencyStatisticsView"
            id="org.eclipse.tracecompass.training.processing.statistics"
            name="Latency Statistics"
            restorable="true">
      </view>
      <view
            class="org.eclipse.tracecompass.training.example.processing.views.ProcessingLatencyScatterView"
            id="org.eclipse.tracecompass.training.processing.scatter"
            name="Latency vs Time"
            restorable="true">
      </view>
   </extension>

</plugin>
