<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="org.eclipse.cdt.example.codeanalysis.LineCountChecker"
            id="org.eclipse.cdt.example.codeanalysis.linecount"
            name="Line count">
      </checker>
   </extension>

</plugin>
