<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="org.eclipse.cdt.example.codeanalysis.LineCountChecker"
            id="org.eclipse.cdt.example.codeanalysis.linecount"
            name="Line count">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="File is too long"
               id="org.eclipse.cdt.example.codeanalysis.toolong"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="File is longer than {0} lines"
               name="File too long">
         </problem>
      </checker>
      <checker
            class="org.eclipse.cdt.example.codeanalysis.ComplexityChecker"
            id="org.eclipse.cdt.example.codeanalysis.complexity"
            name="Complexity check">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="true"
               defaultSeverity="Warning"
               description="Complexity is too high"
               id="org.eclipse.cdt.example.codeanalysis.problem1"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="Complexity is higher than {0}"
               name="Complexity too high">
         </problem>
      </checker>
   </extension>

</plugin>
