<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.cdt.example.framespy.FrameSpyView"
            id="org.eclipse.cdt.example.framespy.view"
            name="Frame Spy"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.cdt.example.framespy.ToggleSpyHandler"
            id="org.eclipse.cdt.example.framespy.togglespy"
            name="Toggle Spy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.cdt.example.framespy.view?after=additions">
         <command
               commandId="org.eclipse.cdt.example.framespy.togglespy"
               icon="enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.cdt.example.framespy.view">
         <command
               commandId="org.eclipse.cdt.example.framespy.togglespy"
               icon="enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.cdt.example.framespy.view">
         <command
               commandId="org.eclipse.cdt.example.framespy.togglespy"
               icon="enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
   </extension>
 
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
<!--TODO id should be any unique string
    TODO name will be shown to user, it should describe this launch config type-->
      <launchConfigurationType
TODO
      	id=""
      	name="">
      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
<!--TODO icon should be chip.png located in this plugin            
    TODO configTypeID should be id of configuration defined above
    TODO id should be any unique string -->
      <launchConfigurationTypeImage
TODO
            icon=""
            configTypeID=""
            id="">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
<!--TODO id should be any unique string
    TODO type should be id of configuration defined above-->
      <launchConfigurationTabGroup
TODO
            class="org.eclipse.cdt.debug.internal.ui.launch.PlaceHolderLaunchConfigurationTabGroup"
            id=""
            type="">
         <launchMode mode="debug"/>
      </launchConfigurationTabGroup>
   </extension>

    <extension point="org.eclipse.debug.core.launchDelegates">
<!--TODO replace 'type' value below with new config id defined above-->
      <launchDelegate
TODO
            delegate="org.eclipse.cdt.example.framespy.FrameSpyLaunchDelegate"
            delegateDescription="Local debugging for IMA2l type chips"
            id="org.eclipse.cdt.example.frameSpy.launchDelegate"
            modes="debug"
            name="IMA2l-Chip Local Launcher"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.eclipse.cdt.launch.applicationLaunchType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
<!--TODO replace 'group' value below with new tabGroup id defined above-->
      <tab
TODO
            id="org.eclipse.cdt.example.frameSpy.localApplicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="Main"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.example.frameSpy.launchDelegate"/>
      </tab>
   </extension>
</plugin>
