<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.cdt.example.framespy.FrameSpyView"
            id="org.eclipse.cdt.example.framespy.view"
            name="Frame Spy"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.cdt.example.framespy.ToggleSpyHandler"
            id="org.eclipse.cdt.example.framespy.togglespy"
            name="Toggle Spy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.cdt.example.framespy.view?after=additions">
         <command
               commandId="org.eclipse.cdt.example.framespy.togglespy"
               icon="enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
